:root {
  --footer: var(--lawnchair-green-color-container);
  --on-footer: var(--lawnchair-green-on-color-container);
}

::selection {
  background-color: var(--footer);
  color: var(--on-footer);
}

* {
  box-sizing: border-box;
  transition: outline 0s;
}

*:focus-visible {
  outline: 1px solid var(--on-background);
  border-radius: 20px;
}

html,
body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  background-color: var(--surface);
  color: var(--on-surface);
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  margin: 0;
  min-height: 100vh;
}

p {
  font-weight: 300;
}

b, strong {
  font-weight: 600
}

/* Header */
header {
  background-color: var(--surface-container);
  padding: 14px;
  position: sticky;
  top: 0;
  height: 56px;
  display: flex;
  align-items: center;
  transition: background 1s;
  z-index: 20;
  color: var(--on-surface);
}

header a {
  color: var(--on-surface);
  text-decoration: none;
}

header > a img {
  border-radius: 50%;
}

header > a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  transition: background 0.4s ease;
  background-color: transparent;
  padding: 6px 10px 6px 6px;
  border-radius: 24px;
  --md-state-layer-color: var(--lawnchair-accent-hover);
}

header > a:hover {
  transition: background 0.4s ease;
  background-color: var(--lawnchair-accent-hover);
}

header > a:visited {
  color: var(--on-surface);
}

.lawnchair__logo img,
.lawnchair__logo picture {
  height: 30px;
  width: 30px;
}

.lawnchair__logo span {
  font-weight: 600;
}

header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav a {
  transition: all 0.1s;
  padding: 8px 16px;
  border-radius: 20px;
}

header nav a.active {
  color: var(--on-primary-container);
  background: var(--primary-container);
}

/* Footer */
footer {
  padding: 8px;
  text-align: center;
}

footer span {
  display: block;
  margin: auto;
  background-color: var(--footer);
  color: var(--on-footer);
  border-radius: var(--shape-xl);
  width: 90%;
  padding: 10px 20px;
  max-width: 840px;
  font-size: 0.9em;
}

footer a,
footer a:visited {
  font-weight: 500;
  color: var(--on-footer);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  header > a span {
    display: none;
  }
}

:root {
  --md-state-hover-opacity: 0.08;
  --md-state-focus-opacity: 0.1;
  --md-state-pressed-opacity: 0.12;
  --md-state-disabled-opacity: 0.38;
  --md-state-layer-color: var(--on-surface);
}

[data-statelayer] {
  position: relative;
  overflow: hidden;
  --md-state-layer-mix: transparent;
  background-image: linear-gradient(var(--md-state-layer-mix), var(--md-state-layer-mix));
  transition: background-image 15ms linear;
  -webkit-tap-highlight-color: transparent;
}

[data-statelayer]:hover {
  --md-state-layer-mix: color-mix(in srgb, var(--md-state-layer-color) calc(var(--md-state-hover-opacity) * 100%), transparent);
}
[data-statelayer]:focus-visible {
  --md-state-layer-mix: color-mix(in srgb, var(--md-state-layer-color) calc(var(--md-state-focus-opacity) * 100%), transparent);
}

[data-statelayer]:active:not(:has(> .ripple-layer)) {
  --md-state-layer-mix: color-mix(in srgb, var(--md-state-layer-color) calc(var(--md-state-pressed-opacity) * 100%), transparent);
}

[data-statelayer].disabled {
  --md-state-layer-mix: color-mix(in srgb, var(--md-state-layer-color) calc(var(--md-state-focus-opacity) * 100%), transparent);
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  opacity: 0.38;
  pointer-events: none;
  cursor: default;
}

[data-statelayer] .ripple-layer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  will-change: transform, opacity;

  opacity: var(--md-state-pressed-opacity);

  background: radial-gradient(
          closest-side,
          var(--md-state-layer-color) max(calc(100% - 70px), 65%),
          transparent 100%
  );
}